<section class="pb-16">

    <div>
        <owl-carousel-o [options]="mainSliderCustomOptions">
            <ng-template carouselSlide>

                <div>

                  <div>
                    <img class="w-full "  src="/assets/images/img1.avif" alt="banner" title="">
                  </div>

                </div>
            </ng-template>

            <ng-template carouselSlide>

                <div>

                  <div>
                    <img class="w-full "  src="/assets/images/img2.avif" alt="banner" title="banner">
                  </div>

                </div>
            </ng-template>

            <ng-template carouselSlide>

                <div>

                  <div>
                    <img class="w-full "  src="/assets/images/img3.avif" alt="banner" title="banner">
                  </div>

                </div>
            </ng-template>

            <ng-template carouselSlide>

                <div>

                  <div>
                    <img class="w-full "  src="/assets/images/img4.avif" alt="banner" title="banner">
                  </div>

                </div>
            </ng-template>

            <ng-template carouselSlide>

                <div>

                  <div>
                    <img class="w-full "  src="/assets/images/img5.avif" alt="banner" title="banner">
                  </div>

                </div>
            </ng-template>
            
            
        </owl-carousel-o>
    </div>

</section>